@charset "utf-8";
/* ************************************************************************************************************************************************************
《 Layout 》
************************************************************************************************************************************************************ */


/*
[z-index 위계]
#메인 하단 실시간 예약 이미지 : 9999
#팝업 : 9998
#PC헤더 : 996
#PC헤더 서브메뉴 : 998
#PC헤더 상단 드롭다운 : 999
#퀵메뉴 : 995
*/

/* 헤더 */
#header {position:fixed; top:0; left:50%; transform:translateX(-50%); width:100%; z-index:996; max-width:1800px;}
#header nav {max-width:1240px;}
#header nav ul {display:flex; justify-content:end;}
